<div id="refinedUser">
	<div class="customheader">
		<div class="customheaderleft">
			<h2>{{userName}}</h2>
		</div>
		<div class="customheaderright">
			<p class="pull-right">{{dayName}}, {{monthname}} {{yearname}}</p>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-sm-12 mrgTop8em">
		<div class="mrgTop2em col-sm-12">
			<table class="table">
				<tbody>
					<tr>
						<td class="sidenavTable">
							Trufl Transactions I've<br /> Facilitated During This Service
						</td>
						<td class="nOFontStyle alignCenter">27</td>
						<td class="fontSize30">Trufl Transactions I've<br /> Facilitated During This Service</td>
						<td class="nOFontStyle alignCenter">1031</td>
					</tr>
					<tr>
						<td class="sidenavTable">
							Trufl Transaction Value I've<br /> Facilitated During This Service
						</td>
						<td class="nOFontStyle alignCenter">$897</td>
						<td class="fontSize30">Trufl Transaction Value I've<br /> Facilitated During This Period</td>
						<td class="nOFontStyle alignCenter">$99,942</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-12 bottombuttons">
		<span class="spancloseIconStyle" (click)="cancel()"><img src="assets/images/cross.png"  />EXIT</span>
	</div>
	<div class="clearfix"></div>
</div>
















