@import url('https://fonts.googleapis.com/css?family=Magra'); /*font-family: 'Magra', sans-serif;*/

.TopOptionsUL a {
  color: #cbcbd1;
  font-size: 22px;
  /*font-family: AvenirNext-Medium;*/
  font-family: 'Magra', sans-serif;
  padding-bottom: 3.3px;
}

.mrgLeft {
  /*margin-left: 41%;
    margin-top: 1%;*/
  float: right;
  margin-bottom: 0px;
  margin-top: 4px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .mrgLeft {
    margin-left: 18%;
    margin-top: 2%;
  }

  .group-list {
    background-color: #4f5879;
    width: 48% !important;
    Z-INDEX: 1;
    position: absolute;
    margin-top: 3px;
  }
}

.group-list {
  /*background-color: #4f5879;
    width: 36%;
    Z-INDEX: 1;
    position: absolute;
    margin-top: 3px;*/
  background-color: #4f5879;
  width: 40%;
  Z-INDEX: 1;
  position: absolute;
  margin-top: 0px;
}

.group-list li:first-child {
  margin-top: 5%;
}

.group-list-li {
  padding: 2% 0% 2% 7%;
  /*background-color: #9ea2b3;/*Selected li color*/
}

/*.group-list-li :hover {
  cursor: pointer;
}*/
  .group-list-li:hover {
    cursor: pointer;
    background-color: #9ea2b3;
  }

  .group-list-li a {
    display: block;
  }

    .group-list-li a:hover {
      color: #000;
    }

.activeLi {
  background-color: #9ea2b3;
}

.activeLi a.sub-menu, .activeLi a.sub-menuLi {
  color: black !important;
}

.sub-menu {
  color: #cbcbd1;
  font-family: AvenirNextCondensed;
  font-size: 22px;
}

.sub-menuLi {
  color: #cbcbd1;
  font-size: 15px !important;
  font-family: AvenirNext-Medium !important;
}

.mrtBottom0Width100 span:hover {
  cursor: pointer;
}
