<div class="customheader">
  <div class="customheaderleft">
    <h2>Select Staff</h2>
  </div>
  <div class="customheaderright">
    <a (click)="back()" class="secondary-btn">
      Back
    </a>
    <a (click)="next()" class="primary-btn">
      Next
    </a>
  </div>
</div>

<div class="col-md-12 mrgTop6em">
  <div class="col-md-12 mrgTopBottom56">
    <span class="servicetext">Who's on the clock tonight?</span>

    <div class="col-md-12 padLeft9em">
      <div class="selectstaff">
        <ul>
          <li *ngFor="let staffimage of result">
            <a class="selected" (click)="showProfile(staffimage, staffimage.seatNumbers, i)">
              <img alt="" class="imm" src="data:image/JPEG;base64,{{staffimage.pic}}"
                   [ngClass]="staffimage.ActiveInd == 0 ? 'blur' : ''"/>
              <span class="imm fontStyle" [ngClass]="staffimage.ActiveInd == 0 ? 'blur' : ''">
                            {{staffimage.FullName}}
                        </span>
              <span *ngFor="let obj of staffimage.seatNumbers;let i=index;">
                           <span *ngIf="staffimage.ActiveInd == 1 && (obj.StartTableNumber != obj.EndTableNumber)"
                                 class="h4">

                                           {{test(obj.StartTableNumber) ? obj.StartTableNumber + '-' : ''}}{{test(obj.EndTableNumber) ? obj.EndTableNumber: ''}},
                           </span>
                           <span *ngIf="obj.StartTableNumber == obj.EndTableNumber" class="h4">
                              {{obj.StartTableNumber}}
                           </span>
                        </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-2 animated fadeInRight" id="profileSection" *ngIf="isShow">
      <img src="assets/images/cross.png" class="closeIconStyle" id="close" (click)="closeProfile()"/>
      <div class="slidetop">
        <img alt="" src="data:image/JPEG;base64,{{currentRowInfo.pic}}"/>
        <span class="name">{{currentRowInfo.FullName}}</span>
      </div>
      <div class="slideformmain">
        <div class="slidetoggle">
          <label class="fontFamily">Open / Close</label>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="currentRowInfo.checked"
                   (ngModelChange)="updateServerStatus(currentRowInfo.checked, index)">
            <span class="slider round"></span>
          </label>
        </div>
        <div *ngFor="let item of arr; let index = index">
          <div class="slideform">
            <label>{{item.labelName1}} </label> <input name="item.name" type="text" [(ngModel)]="item.StartTableNumber"
                                                       (ngModelChange)="updateStartTableNumber(item.StartTableNumber, index)"
                                                       id="starttabnum" #starttabnum="ngModel" pattern="^[0-9]{1,}$"
                                                       required minlength="1"/>
            <label *ngIf="starttabnum.invalid && (starttabnum.dirty || starttabnum.touched)"
                   [ngStyle]="{'color': 'red'}">
              <label *ngIf="starttabnum.errors.required" class="color">
                StartTableNumber Is Required.
              </label>
              <label *ngIf="starttabnum.errors.pattern" class="color">
                StartTableNumber Should Be Number Only
              </label>
            </label>
          </div>
          <div class="slideform">
            <label>{{item.labelName2}} </label> <input name="item.name" type="text" [(ngModel)]="item.EndTableNumber"
                                                       (ngModelChange)="updateEndTableNumber(item.EndTableNumber, index)"
                                                       id="endtabnum" #endtabnum="ngModel" pattern="^[0-9]{1,}$"
                                                       required minlength="1"/>
            <label *ngIf="endtabnum.invalid && (endtabnum.dirty || endtabnum.touched)">
              <label *ngIf="endtabnum.errors.required" class="color">
                EndTableNumber Is Required.
              </label>
              <label *ngIf="endtabnum.errors.pattern" class="color">
                EndTableNumber Should Be Number Only
              </label>
            </label>
          </div>
        </div>
        <label *ngIf="flag" [ngStyle]="{'color': 'red'}">
          {{message}}
        </label>
        <div class="slideform fontFamily"><a (click)="addMore()">+ Add More </a></div>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>
</div>

